@import url(https://fonts.googleapis.com/css?family=Bad+Script:regular);
@import url(https://fonts.googleapis.com/css?family=Allura:regular);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Shadows+Into+Light&display=swap');
* {
    margin: 0;
    padding: 0;
    /* font-family: "Montserrat", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji"; */
    // font-family: "bad script";
    -webkit-font-smoothing: antialiased;
    // overflow: hidden;
}

*::selection {
    background: #2a57e0;
}

:root {
    --light-nav-back: rgba(255, 255, 255, 1);
    --light-nav-text: #000;
    --light-home-text: #000;
    --light-about-back: #f8edeb;
    --light-projects-back: #f7efd8;
    --light-contact-back: #f8edeb;
    --light-home-span: #28cab5;
    /* --light-nav-hover: #00ffff; */
    --light-body-back: #ffffff;
    --light-bg-about-div: #fff;
    --light-bg-contact-div: #fff;
    --light-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
    --light-body-text: #000;
    --light-bg-toggle: #fff;
    --light-btn-toggle: #000;

    --dark-nav-back: rgba(000, 000, 000, 1);
    --dark-nav-text: #fff;
    --dark-about-back: #343a40;
    --dark-projects-back: #343a40;
    --dark-contact-back: #343a40;
    --dark-home-text: #000;
    --dark-home-span: #28cab5;
    --dark-body-back: #000;
    --dark-bg-about-div: #6c757d;
    --dark-bg-contact-div: #252525;
    --dark-shadow: 4px 4px 15px rgba(255, 255, 255, 0.5);
    --dark-body-text: #fff;
    --dark-bg-toggle: #000;
    --dark-btn-toggle: #fff;
}

.light {
    --nav-back: var(--light-nav-back);
    --nav-text: var(--light-nav-text);
    --about-back: var(--light-about-back);
    --projects-back: var(--light-projects-back);
    --contact-back: var(--light-contact-back);
    --bg-about-div: var(--light-bg-about-div);
    --bg-contact-div: var(--light-bg-contact-div);
    --shadow: var(--light-shadow);
    --body-back: var(--light-body-back);
    --body-text: var(--light-body-text);
    /* --nav-hover: var(--light-nav-hover); */
    --home-text: var(--light-home-text);
    --home-span: var(--light-home-span);
    --bg-toggle: var(--light-bg-toggle);
    --btn-toggle: var(--light-btn-toggle);
}

.dark {
    --nav-back: var(--dark-nav-back);
    --nav-text: var(--dark-nav-text);
    --about-back: var(--dark-about-back);
    --projects-back: var(--dark-projects-back);
    --contact-back: var(--dark-contact-back);
    --bg-about-div: var(--dark-bg-about-div);
    --bg-contact-div: var(--dark-bg-contact-div);
    --shadow: var(--dark-shadow);
    --body-back: var(--dark-body-back);
    --body-text: var(--dark-body-text);
    /* --nav-hover: var(--dark-nav-hover); */
    --home-text: var(--dark-home-text);
    --home-span: var(--dark-home-span);
    --bg-toggle: var(--dark-bg-toggle);
    --btn-toggle: var(--dark-btn-toggle);
}
html{
  overflow-x:hidden;
}
body {
    font-family: "bad script";
    overflow-y:visible;
}

/* width */

::-webkit-scrollbar {
    width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
    padding: 5px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    scroll-behavior: smooth;
    // overflow:hidden;
}

.navbar {
    top: 0;
    z-index: 10;
    height: 11vh;
    width: 100vw;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Shadows Into Light';
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    padding: 0 25px;
    background: linear-gradient(#9198e5);
}

.scroll-active {
    background: var(--nav-back);
    color: var(--nav-text);
}

.name {
    font-size: 20px;
    color: var(--nav-text);
    margin: 6px;
    cursor: pointer;
}

.name h1 {
    font-weight: 250;
}

.navbar .mainMenu {
    display: flex;
    position: relative;
    list-style-type: none;
    right: 10px;
}

.navbar .mainMenu li a {
    display: inline-block;
    padding: 10px 15px 0 15px;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--nav-text);
    transition: all 1s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
    /* display: none; */
}

.navbar .mainMenu li a:hover {
    text-decoration: underline;
}

.navbar .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

.navbar .mainMenu .closeMenu,
.socialIcons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

/**/
nav{
    position: fixed;
    font-family: 'Shadows Into Light';
    width: 50px;
    margin-top: 120px;
    transition: all 0.3s linear;
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,.4);
  }
  nav li{
    height: 60px;
    position:relative;
  }
  nav li a{
    color: white;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    padding-left:25%;
    border-bottom: 1px solid rgba(0,0,0,.4);
    transition: all .3s linear;
  }
  nav li:nth-child(1) a{
    background: #2867B2;
  }
  nav li:nth-child(2) a{
    background: #333;
  }
  nav li:nth-child(3) a{
    background: #f75421;
  }
  
  nav li a i{
    position:absolute;
    top: 17px;
    left: 20px;
    font-size: 27px;
  }
  ul li a span{
    display: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  nav li a:hover {
    z-index:1;
    width: 200px;
    border-bottom: 1px solid rgba(0,0,0,.5);
    box-shadow: 0 0 1px 1px rgba(0,0,0,.3);
  }
  ul li:hover a span{
    padding-left: 30%;
    display: block;
  }
  /**/

.socialIcons .fa-github:hover {
    color: #e1419e;
}

.socialIcons .fa-linkedin:hover {
    color: #2a57e0;
}

/* *******************Home****************** */

.Home {
    height: 100vh;
    width: 100vw;
    z-index: 0;
    background: var(--body-back);
    background: linear-gradient(#9198e5, #e66465);
    font-family: 'Shadows Into Light';
    //   background-position: 0 -90px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.text {
    top: -50px;
    height: 250px;
    width: 600px;
    position: relative;
    text-align: center;
}

.text .p1 {
    color: var(--home-text);
    font-size: 50px;
}

.text .p1 span {
    font-size: 60px;
}

.text .p1 span::selection {
    background: #3edf4b;
}

.text .p2 {
    color: var(--home-text);
    font-size: 50px;
}

.text .p2 span {
    font-size: 50px;
    font-weight: 700;
    color: var(--home-span);
}

.text .p2 span::selection {
    background: #3edf4b;
}

.text .p3 {
    color: var(--home-text);
    font-size: 50px;
    margin-left: 100px;
    position: absolute;
    left: 8%;
}

.text .type {
    color: var(--home-span);
}

.text .type::selection {
    color: var(--home-span);
    background: #3edf4b;
}

.gif {
    position: relative;
    top: -20px;
}

/* *******************Home End****************** */

/* *******************About****************** */

.About {
    width: 100%;
    height: 100vh;
    background: var(--about-back);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    // font-weight: 700;
}

.about-page {
    width: 90%;
    height: 85%;
    margin-bottom: 20px;
    display: flex;
}

.infodiv {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.about-img {
    /* width: 100%; */
    height: 50%;
    background-color: var(--bg-about-div);
    margin: 5px;
    border-radius: 15px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about-skills {
    /* width: 100%; */
    height: 50%;
    background-color: var(--bg-about-div);
    margin: 5px;
    border-radius: 15px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--nav-text);
}

.about-skills ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-skills ul li {
    width: 90%;
    margin-top: 3%;
}

.skill-bar {
    width: 100%;
    height: 10px;
    background-color: lightblue;
}

.about-skills > h3 {
    margin-top: 10px;
}

.about-skills .lang {
    display: flex;
    justify-content: space-between;
}

.about-skills .lang p:nth-of-type(2) {
    margin-right: 10px;
}

.about-text {
    width: 60%;
    /* height: 100%; */
    background-color: var(--bg-about-div);
    margin: 5px;
    border-radius: 15px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow-y: auto;
}

.about-text p {
    padding: 0 50px;
    font-size: 20px;
    text-indent: 50px;
    margin-bottom: 15px;
    color: var(--nav-text);
}

.about-text > h1 {
    margin-top: 10px;
    color: var(--nav-text);
}

.img-responsive {
    width: 35%;
    border-radius: 50%;
}

.img-txt h3 {
    /* margin: 20px 0; */
    line-height: 40px;
    color: var(--nav-text);
}

/* *******************About End****************** */

/* *******************Projects****************** */

.Projects {
    // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding: 90px 20px;
    z-index: 0;
    background: var(--projects-back);
    // background: #f7efd8;
}

// .timeline-area{
//      margin: 90px auto;
//      width: 360px;
//      border-left: 2px solid #ccc;
//      padding: 0 20px 0 30px;
// }
// .project-card{
//     background-color: #fff;
//     padding: 10px 25px;
//     min-height: 80px;
//     // font-size: 16px;
//     border: 1px solid #ccc;
//     line-height: 1.7;
//     position: relative;
// }
::selection {
    color: #fff;
    background: #f1b70a;
}
.wrapper {
    max-width: 1380px;
    // font-size: 30px;
    font-weight: 900;
    position: relative;
}
.pro-date{
    font-size: 20px;
}
.title{
    text-decoration: underline;
}
.wrapper .center-line {
    position: absolute;
    height: 95%;
    width: 4px;
    background: #fff;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}
.wrapper .row {
    display: flex;
    position: relative;
}
.wrapper .row-1 {
    justify-content: flex-start;
}
.wrapper .row-2 {
    justify-content: flex-end;
}
.row-1 .section-main {
    right: 5%;
}
.row-2 .section-main {
    left: 5%;
}
.wrapper .row .section-main {
    background: #fff;
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
}
.wrapper .row .section-main::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    top: 28px;
    // z-index: -1;
    transform: rotate(45deg);
}
.row-1 .section-main::before {
    right: -7px;
}
.row-2 section::before {
    left: -7px;
}
.row .section-main .icon,
.center-line .scroll-icon {
    position: absolute;
    background: #f2f2f2;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #f1b70a;
    font-size: 17px;
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.center-line .scroll-icon {
    bottom: 0px;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
}
.row-1 section .icon {
    top: 15px;
    right: -60px;
}
.row-2 .section-main .icon {
    top: 15px;
    left: -60px;
}
.row .section-main .details,
.row .section-main .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row .section-main .details .title {
    font-size: 22px;
    font-weight: 600;
}
.row .section-main p {
    margin: 10px 0 17px 0;
    font-size: 20px;
}
.row .section-main .bottom a {
    text-decoration: none;
    background: #0d6efd;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    /* font-size: 17px; */
    font-weight: 400;
    transition: all 0.3s ease;
}
.row .section-main .bottom a:hover {
    transform: scale(0.97);
}
@media (max-width: 790px) {
    .wrapper .center-line {
        left: 40px;
    }
    .wrapper .row {
        margin: 30px 0 3px 60px;
    }
    .wrapper .row .section-main {
        width: 100%;
    }
    .row-1 .section-main::before {
        left: -7px;
    }
    .row-1 .section-main .icon {
        left: -60px;
    }
}
@media (max-width: 440px) {
    .wrapper .center-line,
    .row .section-main::before,
    .row .section-main .icon {
        display: none;
    }
    .wrapper .row {
        margin: 10px 0;
    }
}
@media screen and (max-width: 1490px){
    .Projects{
        display: none;
    }
}
/* *******************Projects End****************** */

/* *******************Contact****************** */

.Contact {
    height: 100vh;
    width: 100%;
    z-index: 0;
    background: var(--contact-back);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.contact-form-div {
    width: 80%;
    height: 85%;
    margin-bottom: 20px;
    border-radius: 10px;
    background: var(--bg-contact-div);
    box-shadow: var(--shadow);
    display: flex;
    font-family: 'Shadows Into Light';
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.fname-lname {
    width: 92.5%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 10px 0;
}

#fname,
#lname {
    width: 45%;
    font-size: 30px;
    border-radius: 3px;
    padding: 5px 15px;
    font-family: 'Shadows Into Light';
    font-weight: 900;
}

#email {
    width: 90%;
    margin: 10px 0;
    font-size: 30px;
    border-radius: 3px;
    padding: 5px 15px;
    font-family: 'Shadows Into Light';
    font-weight: 900;
}

#number {
    width: 90%;
    margin: 10px 0;
    font-size: 30px;
    border-radius: 3px;
    padding: 5px 15px;
    font-family: 'Shadows Into Light';
    font-weight: 900;
}

#message {
    width: 90%;
    margin: 10px 0;
    font-size: 30px;
    border-radius: 3px;
    padding: 5px 15px;
    font-family: 'Shadows Into Light';
    font-weight: 900;
}

#cont-send {
    padding: 10px 30px;
    font-size: 30px;
    border-radius: 26px;
    cursor: pointer;
    font-family: 'Shadows Into Light';
    font-weight: 900;
    border: none;
    background: linear-gradient(43deg, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
    transition: all 0.3s ease;
    margin: 10px 0;
    color: #fff;
}
/* *******************Contact End****************** */

/* *******************Toggle Switch****************** */

.dark-light-toggle {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-toggle);
    color: var(--nav-text);
    position: fixed;
    bottom: 40px;
    left: -95px;
    box-shadow: 4px 4px 1em rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: all 0.5s ease;
    cursor: pointer;
}

.dark-light-toggle:hover {
    left: -85px;
}

.dark-light-toggle input {
    display: none;
}

.dark-light-toggle label {
    width: 40px;
    height: 40px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 50%;
    margin-right: 8px;
    background-color: var(--btn-toggle);
    color: var(--nav-back);
    cursor: pointer;
    transition: all 0.5s ease;
}

#sun {
    display: none;
}

#moon {
    display: block;
}

.movetotop {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    bottom: 40px;
    right: 30px;
    display: none;
    box-shadow: 4px 4px 1em rgba(0, 0, 0, 0.5);
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #000;
    font-size: 22px;
}

/* *******************Toggle Switch End****************** */

/* *******************Media screen and  Queries****************** */

@media screen and (max-width: 900px) {

    body{
        overflow: visible;
    }
    .navbar .mainMenu {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #fff;
        color: #000;
        transition: top 0.3s ease;
        display: none;
    }
    .navbar .mainMenu li a {
        color: #000;
    }
    .navbar .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .navbar .openMenu {
        display: block;
    }
    .navbar .mainMenu li a:hover {
        background: none;
        font-size: 1.6rem;
    }
    .socialIcons i {
        display: inline-block;
        padding: 12px;
    }
    .socialIcons .fa-github:hover {
        color: #e1419e;
    }
    .socialIcons .fa-linkedin:hover {
        color: #2a57e0;
    }
    /*Home*/
    .Home {
        justify-content: space-between;
        flex-direction: column;
    }
    .Home .text {
        top: 70px;
    }
    .Home .text p {
        font-size: 45px;
    }
    .Home .text p span {
        font-size: 45px;
    }
    /* .Home .text h2,
  h3 {
    color: #fff;
  } */
    .gifimg {
        position: relative;
        height: 270px;
        width: 270px;
        /* display: none; */
    }
    /*Home*/
    /*About*/
    .about-page {
        flex-direction: column-reverse;
    }
    .about-img {
        display: none;
    }
    .infodiv {
        width: 100%;
        height: 45%;
    }
    .about-text {
        width: 100%;
        height: 75%;
    }
    .about-text p {
        font-size: 15px;
    }
    .about-skills {
        height: 100%;
    }
    .about-skills ul li {
        margin: 0;
        display: flex;
        justify-content: space-between;
    }
    .about-skills .lang {
        display: flex;
        justify-content: flex-start;
    }
    .skill-bar {
        display: inline-block;
        width: 65%;
    }
    .about-skills .lang p {
        margin-right: 25px;
    }
    /*About*/
}

@media screen and (max-width: 460px) {
    .skill-bar {
        width: 50%;
    }
}

@media screen and (max-width: 315px) {
    .lang p:nth-of-type(2) {
        display: none;
    }
}

@media screen and (max-width: 395px) {
    .Home .text {
        top: 50px;
    }
    .Home .text p {
        font-size: 30px;
    }
    .Home .text p span {
        font-size: 30px;
    }
    .gifimg {
        top: -40px;
        height: 220px;
        width: 220px;
        /* display: none; */
    }
}

/*About*/

@media screen and (max-width: 1250px) and (min-width: 900px) {
    .about-img {
        flex-direction: column;
    }
    .img-responsive {
        width: 100px;
    }
}

@media screen and (max-height: 675px) {
    .about-img img {
        display: none;
    }
}

@media screen and (max-height: 660px) {
    .about-skills ul li {
        margin: 0;
    }
}

/*About*/

/* *******************Media screen and  Queries****************** */
