* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  background: #008b8b;
}

.navbar {
  top: 0;
  margin: 0;
  padding: 0;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}
.name {
  font-size: 1.5rem;
  margin: 6px;
  cursor: pointer;
  color: #fff;
}

nav .mainMenu {
  display: flex;
  list-style-type: none;
}

nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  /* display: none; */
}

nav .mainMenu li a:hover {
  background: #ff8800;
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu, .socialIcons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.socialIcons i:hover {
    color: #4169e1;
}

@media(max-width:800px){
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav .openMenu {
        display: block;
    }

    nav .mainMenu li a:hover {
        background: none;
        color: #ff8800;
        font-size: 1.6rem;
    }
    .socialIcons i {
        display: inline-block;
        padding: 12px;
    }
}